* {
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0
}
#wrapper {
    overflow: hidden;
}
#settings-dialog {
    /*width: 500px;
    height: 450px;*/
    width: 50vw;
    height: calc(95vh - 30px);
    top: calc(5vh - 15px);
    left: calc(50vw - 265px);
    z-index: 100;
    position: absolute;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
#settings-form {
    margin-bottom: 15px;
}
#message {
    margin: 0;
}
#game {
    width: 100vw;
    height: 100vh;
    float: left;
}
#game-image {
    width: 100%;
    height: 100%;
    float: left;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transform: scale(3.5);
    -moz-transform: scale(3.5);
    -ms-transform: scale(3.5);
    -o-transform: scale(3.5);
    transform: scale(3.5);
}
#next-button {
    top: calc(87.5vh - 56px);
    left: 87.5vw;
    position: absolute;
}
